{% extends "Contenido/encabezado.html" %}
{% block titulo %}
PRINCIPAL
{% endblock %}

{%block act1%}active{%endblock%}
{%block act2%}{%endblock%}
{%block act3%}{%endblock%}

{% block icono %}
{%load static%}
{%static 'Contenido/images/home2.png'%}
{% endblock %}

{% block imagen %}
{%load static%}
{%static 'Contenido/images/home2.png'%}
{% endblock %}

{% block contenido %}
<h2>Bienvenido a los Cursos Django</h2>
<br>
<p>Esta pagina te mostrara todo lo que debes saber acerca de los cursos Django</p>
{% endblock %}
  


