<div class="breadcrumb-line">
                 <ul class="breadcrumb">
                     <li>
                         <a href="{%url 'Principal'%}">
                             {%if request.path == '/'%}
                                     Principal
                             {%else%}
                                     Principal                     
                             {%endif%}
                         </a>
                     </li>
                     {{request.path}}        
                 </ul>
             </div>