{% extends "inicio/encabezado.html" %}

{% block titulo %}
PRINCIPAL
{% endblock %}

{% block url_menu %}
{%url 'Principal'%}
{% endblock %}

{% block imagen %}
{%load static%}
{%static 'inicio/images/home.png'%}
{% endblock %}

{% block titulo_menu %}
Inicio 
{% endblock %}

{% block sub_titulo_menu %}
Lista de alumnos
{% endblock %}


{% block contenido %}
        <!--Tabla  de alumnos -->
       
        <div class="page-header">
            <div class="page-title">
                <h3>Alumnos
                <small>Lista de Alumnos 9A</small></h3>
            </div>
        </div>
{% endblock %}

{% block contenido2 %}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Foto</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Turno</th>
        </tr>
    </thead>
    <tbody>
        <tr>
    <th class="text-center">
        <img src="" class="img-media"> 
    </th>
    <th class="text-semibold">UTM180085TI</th>
    <th class="muted">Jesús</th>
    <th class="muted">TIC</th>
    <th class="muted">Matutino</th>
</tr>
</tbody>
</table>
{% endblock %}

  
