{% extends "inicio/encabezado.html" %}

{% block titulo %}
PRINCIPAL
{% endblock %}

{% block url_menu %}
{%url 'Principal'%}
{% endblock %}

{% block imagen %}
{%load static%}
{%static 'inicio/images/home.png'%}
{% endblock %}

{% block titulo_menu %}
Inicio 
{% endblock %}

{% block sub_titulo_menu %}
Lista de alumnos
{% endblock %}


{% block contenido %}
        <!--Tabla  de alumnos -->
       
        <div class="page-header">
            <div class="page-title">
                <h3>Alumnos
                <small>Lista de Alumnos 9A</small></h3>
            </div>
        </div>
{% endblock %}

{% block contenido2 %}
<h1>Todos los alumnos</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Foto</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Turno</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {%for alumno in alumnos%}

    <th class="text-center">
        <img src="{{alumno.imagen.url}}" class="img-media"> 
    </th>
    <th class="text-semibold">{{alumno.matricula}}</th>
    <th class="muted">{{alumno.nombre}}</th>
    <th class="muted">{{alumno.carrera}}</th>
    <th class="muted">{{alumno.turno}}</th>
</tr>

        {% endfor %}
</tbody>
</table>


<h1>Solo los alumnos de Tic</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center">Foto</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Turno</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {%for alumno in alumnos%}

        {%if alumno.carrera == "Tic"%}
    <th class="text-center">
        <img src="{{alumno.imagen.url}}" class="img-media"> 
    </th>
    <th class="text-semibold">{{alumno.matricula}}</th>
    <th class="muted">{{alumno.nombre}}</th>
    <th class="muted">{{alumno.carrera}}</th>
    <th class="muted">{{alumno.turno}}</th>
</tr>
{%endif%}


        {% endfor %}
</tbody>
</table>

{% endblock %}

  
