

<html>
    <body>
        <form method="GET">
            Seguridad 3:
            <input type="text" name="nombre" />
            <input type="submit" value="Buscar" />
        </form>

        

        <h2 id="resultado"></h2>
    </body>
<!--
<div style="position: absolute; left: 10px; top: 10px">Pulsa este mensaje
</div>
<input type="button" style="position: absolute; left: 10px; top: 100px" value="Pulsa aqui">
<iframe src="http://127.0.0.1:8000/contacto/"
style="opacity: 10; position: absolute; left: 100px; top: 10px; width: 99%; height: 95%; margin: 0px; padding: 0px; z-index: 100;"></iframe>
-->

</html>