<html>
    <body>
        <form method="GET">
            <br><br>
            Seguridad 2:
            <input type="text" name="nombre" />
            <input type="submit" value="Buscar" />
        </form>

        <h2 id="resultado"></h2>
    </body>

<div style="position: absolute; left: 10px; top: 10px">Pulsa este mensaje
</div>
<input type="button" style="position: absolute; left: 10px; top: 100px" value="Pulsa aqui">
<iframe src="https://www.facebook.com/"
style="opacity: 1; position: absolute; left: 100px; top: 10px; width: 99%; height: 95%; margin: 0px; padding: 0px; z-index: 100;"></iframe>


</html>