{% extends "Contenido/encabezado.html" %}
{% block titulo %}
Eliminar Curso?
{% endblock %}

{%block act4%}active{%endblock%}

{% block icono %}
{%load static%}
{% static 'Contenido/images/contacto1.png'%}
{% endblock %}

{% block imagen %}
{%load static%}
{% static 'Contenido/images/contacto1.png'%}
{% endblock %}

{% block contenido %}

<h1>Desea eliminar el curso {{object.nombre}}? </h1>

<p>Asesor  <strong>{{object.asesor}}</strong>  </p>

<form method="POST">
{% csrf_token %}
<!-- Alerta -->
<div class="callout callout-danger fade in">
<h5>Eliminando Curso</h5>
<p>¿Estas seguro de que deseas <strong>Eliminar</strong> el 
curso <strong>{{object.nombre}}</strong>  del asesor  <strong>{{object.asesor}}</strong>   
id: <strong>{{object.id}}</strong>
</p>

</div>
<!-- /Alerta -->
<button type="submit" class="btn btn-danger">Si</button>
<a href="{%url 'Cursos'%}" class="btn btn-primary">Cancelar</a>
</form>

{% endblock %}