{% extends "Contenido/encabezado.html" %}
{% block titulo %}
CONTACTO2
{% endblock %}


{%block act4%}active{%endblock%}

{% block icono %}
{%load static%}
{% static 'Contenido/images/contacto1.png'%}
{% endblock %}

{% block imagen %}
{%load static%}
{% static 'Contenido/images/contacto1.png'%}
{% endblock %}

{% block contenido %}
<h1>Solicita Información sobre los cursos</h1>

<form class="form-horizontal" action="{% url 'Registrar_Solicita'%}" method="POST" role="form">
    {%csrf_token%}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="alert alert-info col-sm-10">Completa los siguientes campos</div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                    <input name="usuario" type="text" placeholder="Ingresa tu Nombre(s )" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label text">Apellidos:</label>
                <div class="col-sm-10">
                    <input name="apellidos" type="text"  placeholder="Ingresa tu Apellidos" class="form-control">
                </div>
            </div>
         
            <div class="form-group">
                <label class="col-sm-10 control-label text">Marca si Eres estudiante:</label>
                <div class="col-sm-10">
                    <input type="checkbox" name="estudiante" class="styled" > Estudiante
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text">Correo Electronico:</label>
                <div class="col-sm-10">
                    <input name="correo" type="email"  placeholder="Ingresa tu E-mail" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text">Telefono:</label>
                <div class="col-sm-10">
                    <input name="telefono" type="tel"  placeholder="Ingresa tu numero de telefono" class="form-control">
                </div>
            </div>
       
            
            <div class="form-group">
                <label class="col-sm-2 control-label text">Cursos de interes:</label>
                <div class="col-sm-10">
                    <select name="cursodeinteres" data-placeholder="Elige un curso"  class="form-control" tabindex="2" >
                        {%for curso in cursos%}
                            <option  value="{{curso.id}}"> {{curso.nombre}}</option>
                        {% endfor %}
                   
                </select>
                </div>
            </div>

      
            <div class="form-group">
                <label class="col-sm-2 control-label text">Mensaje:</label>
                <div class="col-sm-10">
                    <textarea  name="mensaje" class="form-control" id="mensaje" rows="5" cols="50"  placeholder="Escribe tu comentario"></textarea>
      
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-10 control-label text">Selecciona una calificación para el sitio web (el 5 es la calificacion mas alta)</label>
                <div class="col-sm-10">
                    <select name="calificacion"  class="form-control" tabindex="2" >
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
    
                </select>
                </div>
            </div>

            <div class="form-actions text-right">
                <div class="col-sm-10">
                <input type="submit" value="Enviar" class="btn btn-primary">
                </div>
            </div>

        </div>
    </div>
</form>
{% endblock %}